/* Navbar container */
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  color: white;
}

/* Logo */
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #00df9a;
}

/* Desktop navigation */
.desktop-nav {
  display: none; /* Hidden by default on small screens */
}

.desktop-nav .nav-item {
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.desktop-nav .nav-item:hover {
  background-color: #00df9a;
  color: black;
}

/* Mobile navigation icon */
.mobile-nav-icon {
  display: block;
}

/* Mobile navigation menu */
.mobile-nav {
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 60%;
  height: 100%;
  background-color: #000300;
  transition: left 0.5s ease-in-out;
}

.mobile-nav-open {
  left: 0;
}

.logo-mobile {
  font-size: 2rem;
  font-weight: bold;
  color: #00df9a;
  margin: 1rem;
}

.mobile-nav-item {
  padding: 1rem;
  border-bottom: 1px solid gray;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.mobile-nav-item:hover {
  background-color: #00df9a;
  color: black;
}

/* Show desktop navigation when medium screens and up */
@media (min-width: 768px) {
  .desktop-nav {
    display: flex;
  }

  .mobile-nav-icon {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}
