
/* PartionCard.css */
.partitioned-card-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px; /* Optional: Adjust max width for larger screens */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Text half of the card */
.partitioned-card-text {
  background-color: #4f2c54; /* Set background to #4f2c54 */
  color: #e8e3de; /* Set text color to #e8e3de */
  padding: 15%; /* Add 5% padding around the text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center the text horizontally and vertically */
  text-align: center; /* Ensure text is centered */
}


.card-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-description {
  font-size: 1rem;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  /* On larger screens, split the card into two equal halves */
  .partitioned-card-container {
    flex-direction: row;
  }

  .partitioned-card-text {
    padding: 40px;
    width: 50%; /* Ensures text takes up 50% */
  }

  .partitioned-card-image {
    width: 50%; /* Ensures image takes up 50% */
  }
}

@media (max-width: 767px) {
  .partitioned-card-container {
    flex-direction: column;
  }
  
}
